<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head') %>
<body class="bg-gray-100">
  <%- include('partials/_header') %>
  <div class="container mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-3xl font-semibold mb-6 text-center"><%= smtpAccount ? 'Edit' : 'Add' %> SMTP Account</h2>
    <form action="<%= smtpAccount ? `/account/edit-smtp-account/${smtpAccount._id}` : '/account/add-smtp-account' %>" method="POST" id="smtpForm" class="space-y-4">
      <div>
        <label for="emailAddress" class="block text-sm font-medium text-gray-700">Email Address</label>
        <input type="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="emailAddress" name="emailAddress" value="<%= smtpAccount ? smtpAccount.email : userEmail %>" required>
      </div>
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="username" name="username" value="<%= smtpAccount ? smtpAccount.username : userEmail %>" required>
      </div>
      <div>
        <label for="smtpServer" class="block text-sm font-medium text-gray-700">SMTP Server</label>
        <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="smtpServer" name="smtpServer" value="<%= smtpAccount ? smtpAccount.server : '' %>" required>
      </div>
      <div>
        <label for="port" class="block text-sm font-medium text-gray-700">Port</label>
        <input type="number" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="port" name="port" value="<%= smtpAccount ? smtpAccount.port : '' %>" required>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password <%= smtpAccount ? '(leave blank to keep current password)' : '' %></label>
        <input type="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="password" name="password" <%= smtpAccount ? '' : 'required' %>>
      </div>
      <div>
        <label for="encryption" class="block text-sm font-medium text-gray-700">Encryption</label>
        <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="encryption" name="encryption" value="<%= smtpAccount ? smtpAccount.encryption : '' %>" required>
      </div>
      <div class="flex space-x-4">
        <button type="button" id="testSmtpButton" class="w-1/2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Test SMTP</button>
        <button type="submit" id="submitSmtpButton" class="w-1/2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-400 cursor-not-allowed" disabled>Submit</button>
      </div>
    </form>
  </div>
  <%- include('partials/_footer') %>
  <%- include('partials/_modal') %>
  <script src="/js/smtp-info.js"></script>
</body>
</html>
